{{!< default}}

<h1>{{title}}<h1>


<h2>User list<h2>


<table>
    <tr>
        <th>username</th><th>mail</th><th>oprations</th>
    </tr>
    {{#each users}}
    <tr>
        <td><a href="/users/{{this.username}}">{{this.username}}</a></td><td>{{this.mail}}</td>
        <td>
        {{#unless this.admin}}
        <a href="/admin/user/remove/{{this.username}}">remove</a>
        {{/unless}}
        </td>
    </tr>
    {{/each}}
</table>

<div>

<form action="/admin/user/add" method="post">
    <input name="username" type="" placeholder="username"/>
    <input type="submit" value="add new" />
</form>


</div>