{{!< default}}


{{!< default}}

<div class="container-fluid">
    <div class="row">

        
        <div class="main">
            <div class="table-container">
            <h3>history list</h3>
            
            <table class="table table-striped">
                <tr>
                    <th>date</th><th>page</th><th>language</th><th>operator</th><th>operation</th>
                </tr>
                {{#each histories}}
                <tr>
                	<td>{{this.dateFromNow}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.lang}}</td>
                    <td>{{this.operator}}</td>
                    <td>{{this.operation}}</td>
                    
                </tr>
                {{/each}}
            </table>
            </div>
        </div>
    </div>
</div>