<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
{{> header}}

<div class="container-fluid">
    <div class="row">
        
        <div class="main">
            <div class="table-container">
            <h3>Page History List ()</h3>
            <form id="compare-form" action="/history/compare/" method="post">
            <table class="table">
                <tr>
                    <th colspan="2"></th><th>date</th><th>page</th><th>language</th><th>operator</th><th>operation</th>
                </tr>
                {{#each histories}}
                <tr>
                    <td class="current-version" width="40">{{#if @last}}{{else}}<input type="radio" name="curVer" id="" value="{{this._id}}"/>{{/if}}</td>
                    <td class="previos-version" width="40">{{#if @first}}{{else}}<input type="radio" name="preVer" id="" value="{{this._id}}"/>{{/if}}</td>
                    <td>{{this.dateFromNow}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.lang}}</td>
                    <td>{{this.operator}}</td>
                    <td>{{this.operation}}</td>
                </tr>
                {{/each}}
            </table>
            <div>
                <button class="btn btn-primary" id="compare-btn">Compare</button>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>

{{> footer}}
<script type="text/javascript">
    (function($){
        var radios_cv = $('.current-version input');
        var radios_pv = $('.previos-version input');
        
        radios_cv.click(function(){
            var idx = $(this).parent().parent().index() - 1;
            if(!$('.previos-version input:checked').length || $('.previos-version input:checked').parent().parent().index() - 1 <= idx){
                radios_pv.get(idx).checked = true;
            }
        })
        
        radios_pv.click(function(){
            var idx = $(this).parent().parent().index() - 1;
            if(!$('.current-version input:checked').length || $('.current-version input:checked').parent().parent().index() - 1 >= idx){
                radios_cv.get(idx-1).checked = true;
            }
        })

        $('#compare-btn').click(function(){
            if($('.current-version input:checked').length){
                $('#compare-form').submit();
            }else{
                alert('please select two versions to compare.');
                return false;
            }
        });
        
    })(jQuery);



</script>
</body>
</html>