{{!< default}}

<h1>{{title}}</h1>


<h2>page list</h2>




{{#each pageGroup}}

<h3>{{this._id}}</h3>
<table>
    <tr>
        <th>title</th><th>en</th><th>hk</th>
    </tr>
	{{#each this.pages}}
    <tr>
    	<td>{{this.title}}</td>
    	<td>{{#if this.langFlag.en}}yes{{else}}<a href="/page/edit/{{this._id}}/en">+</a>{{/if}}</td>
    	<td>{{#if this.langFlag.hk}}yes{{else}}<a href="/page/edit/{{this._id}}/hk">+</a>{{/if}}</td>
    </tr>
	{{/each}}
</table>
{{/each}}



<div>

<p>
<a href="/page/add">add new page</a>
</p>

</div>