{{!< default}}

<div class="container">

    <h1>{{title}}</h1>


    <h2>Page list</h2>



    {{#each pageGroup}}
    <h3>{{this._id}}</h3>
    <table class="table">
        <tr>
            <th>title</th>
            <th class="th-lang-flag">en</th>
            <th class="th-lang-flag">hk</th>
            <th class="th-lang-flag">jp</th>
            <th class="th-lang-flag">kr</th>
            <th class="th-lang-flag">fr</th>
            <th class="th-lang-flag">de</th>
            <th class="th-lang-flag">es</th>
            <th class="th-lang-flag">ru</th>
            <th class="th-lang-flag">vn</th>
            <th class="th-lang-flag">sg</th>
            <th class="th-lang-flag">my</th>
            <th class="th-lang-flag">id</th>
            <th class="th-lang-flag">th</th>
            <th>oprations</th>
        </tr>
        {{#each this.pages}}
        <tr>
            <td class="td-page-title">{{this.title}}</td>
            <td class="{{#if this.langFlag.en}}exist{{else}}none{{/if}}">{{#if this.langFlag.en}}<a href="/page/edit/{{this._id}}/en">yes</a>{{else}}<a href="/page/edit/{{this._id}}/en">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.hk}}exist{{else}}none{{/if}}">{{#if this.langFlag.hk}}<a href="/page/edit/{{this._id}}/hk">yes</a>{{else}}<a href="/page/edit/{{this._id}}/hk">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.jp}}exist{{else}}none{{/if}}">{{#if this.langFlag.jp}}<a href="/page/edit/{{this._id}}/jp">yes</a>{{else}}<a href="/page/edit/{{this._id}}/jp">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.kr}}exist{{else}}none{{/if}}">{{#if this.langFlag.kr}}<a href="/page/edit/{{this._id}}/kr">yes</a>{{else}}<a href="/page/edit/{{this._id}}/kr">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.fr}}exist{{else}}none{{/if}}">{{#if this.langFlag.fr}}<a href="/page/edit/{{this._id}}/fr">yes</a>{{else}}<a href="/page/edit/{{this._id}}/fr">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.de}}exist{{else}}none{{/if}}">{{#if this.langFlag.de}}<a href="/page/edit/{{this._id}}/de">yes</a>{{else}}<a href="/page/edit/{{this._id}}/de">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.es}}exist{{else}}none{{/if}}">{{#if this.langFlag.es}}<a href="/page/edit/{{this._id}}/es">yes</a>{{else}}<a href="/page/edit/{{this._id}}/es">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.ru}}exist{{else}}none{{/if}}">{{#if this.langFlag.ru}}<a href="/page/edit/{{this._id}}/ru">yes</a>{{else}}<a href="/page/edit/{{this._id}}/ru">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.vn}}exist{{else}}none{{/if}}">{{#if this.langFlag.vn}}<a href="/page/edit/{{this._id}}/vn">yes</a>{{else}}<a href="/page/edit/{{this._id}}/vn">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.sg}}exist{{else}}none{{/if}}">{{#if this.langFlag.sg}}<a href="/page/edit/{{this._id}}/sg">yes</a>{{else}}<a href="/page/edit/{{this._id}}/sg">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.my}}exist{{else}}none{{/if}}">{{#if this.langFlag.my}}<a href="/page/edit/{{this._id}}/my">yes</a>{{else}}<a href="/page/edit/{{this._id}}/my">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.id}}exist{{else}}none{{/if}}">{{#if this.langFlag.id}}<a href="/page/edit/{{this._id}}/id">yes</a>{{else}}<a href="/page/edit/{{this._id}}/id">+</a>{{/if}}</td>
            <td class="{{#if this.langFlag.th}}exist{{else}}none{{/if}}">{{#if this.langFlag.th}}<a href="/page/edit/{{this._id}}/th">yes</a>{{else}}<a href="/page/edit/{{this._id}}/th">+</a>{{/if}}</td>
            <td><a href="/page/remove/{{this._id}}">remove</a></td>
        </tr>
        {{/each}}
    </table>
    {{/each}}



    <div>

    <p>
    <a href="/page/add">add new page</a>
    </p>

    </div>

</div>